* {
    margin: 0;
    padding: 0;
}

h1, p {
    text-align: center;
}

body {
    font-family: sans-serif;
    background-image: url(food3.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fffffe;
    font-size: 20px;
    padding-top: 30px;
    height: 100vh;
    width: 100%;
}

#title {
    font-weight: 800;
    font-size: 2.5em;
    color: rgb(255, 255, 255);
    background-clip: text;
    margin-top: -15px;
}

#description {
    font-size: 0.9em;
    padding-top: 5px;
    padding-bottom: 15px;
    color: rgb(219, 219, 219);
}

#name, #email, #number {
    height: 35px;
    width: 80%;
    border: none;
    border-radius: 60px;
    margin-bottom: 13px;
    text-align: center;
}

#name::placeholder,
#email::placeholder,
#number::placeholder {
    text-align: center;
    font-size: 15px;
    color: rgb(99, 109, 82);
}
#textarea::placeholder {
    text-align: center;
    font-size: 15px;
    color: rgb(99, 109, 82);

}

#name:hover,
#email:hover,
#number:hover {
    transform: scale(1.2);
    transition: .3s;
}


.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 400px;
    margin-top: 20px;
}

.main_left {
    borde: 1px solid rgb(255, 255, 255);
    padding: 30px 10px 0 40px;
}

.main_right {
    borde: 1px solid black;
    padding: 30px 10px 0 40px;
}


.logo1 {
    height: 250px;
    width: 250px;
    animation-name: orange_rotate;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    opacity: 50%;
}

.logo1:hover {
    opacity: 100%;
    transition: 1s ease-out;
    cursor: pointer;
}

@keyframes orange_rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.logo2 {
    height: 250px;
    width: 250px;
    animation-name: green_rotate;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    opacity: 50%;
}

.logo2:hover {
    opacity: 100%;
    transition: 1s ease-in-out;
    cursor: pointer;
}

@keyframes green_rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.one {
    text-align: end;
}

.one hr {
    width: 78%;
    border: 2px solid rgb(255, 251, 0);
    margin-left: 136px;
}

.two {
    text-align: left;
    margin-top: 30px;
    line-height: 35px;
}

.two hr {
    width: 50%;
    border: 2px solid rgb(255, 251, 0);
}

.three {
    text-align: left;
    margin-top: 30px;
    line-height: 35px;
}

.three hr {
    width: 50%;
    border: 2px solid rgb(255, 251, 0);
}

.flex {
    display: flex;
    margin-left: 30%;
    gap: 20px;
}

#textarea {
    width: 60%;
    height: 90px;
    margin-top: 50px;
    margin-left: 60px;
}


button {
    font-size: 18px;
    background-color: orange;
    border: 0;
    width: 30%;
    margin-top: 55px;
    margin-left: 85%;
    padding: 10px 0;
    border: none;
    border-radius: 60px;
    animation-name: buttonani;
    transition: .5s;
    text-transform: uppercase;
    box-shadow: 0px 0px 30px orange;
}

button:hover {
    cursor: pointer;
    letter-spacing: .6em;
    background-color: rgb(7, 207, 207);
    box-shadow: 0px 0px 40px rgb(7, 207, 207);
}

